<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="space98"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title ng-bind="title">Space Ninety 8</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="/css/dest/base.css">
		<link rel="stylesheet" type="text/css" href="/app/bower_components/flexslider/flexslider.css">
		<!-- endbuild -->
		
		<!-- INCLUDE HELPERS BEFORE ANYTHING ELSE -->
		<script src="/app/scripts/helpers/helperFunctions.js"></script>
		<script type="text/javascript">
			if ((document.URL.indexOf("urbanout") < 0 || document.URL.indexOf(".local:") < 0) && document.URL.indexOf("spaceninety8.com") > -1) {
				var S98_MAIN_ENDPOINT = '{{MAIN_ENDPOINT}}';
			} else {
				var IS_DEV_SITE = true;
			}
			
		</script>
		
	</head>
	<body ng-class="{devoptions : showDevOptions}">
		<!-- <div id="page-rulers" ng-show="showDevOptions"></div> -->
		<div ng-include="'/views/includes/header.html'"></div>

		
		<!-- Add your site or application content here -->
		<div class="container" ng-view></div>
		
		<div ng-include="'/views/includes/footer.html'"></div>
		
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
		<script src="/app/bower_components/angular/angular.js"></script>
		
		<!-- build:js scripts/modules.js -->
		<script src="/app/bower_components/angular-resource/angular-resource.js"></script>
		<script src="/app/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="/app/bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="/app/bower_components/angular-route/angular-route.js"></script>
		<script src="/app/bower_components/angular-flexslider/angular-flexslider.js"></script>
		<!-- endbuild -->
		
		<!-- build:js({.tmp,app}) scripts/scripts.js -->

		
		<script src="/app/scripts/app.js"></script>
		<script src="/app/scripts/directives/directives.js"></script>
		<script src="/app/scripts/pagesSetup.js"></script>
		<script src="/app/scripts/controllers/main.js"></script>
		<script src="/app/scripts/controllers/pageControllers.js"></script>
		<script src="/app/scripts/factories/blogActions.js"></script>
		<script src="/app/scripts/factories/viewActions.js"></script>
		<script src="/app/scripts/factories/rootFunctions.js"></script>
		<script src="/app/scripts/factories/blogGatherers.js"></script>
		<script src="/app/scripts/services/blogService.js"></script>
		
		
		
		<!-- UI/non-angular scripts-->
		<script src="/js/dest/common.min.js"></script>
		<script src="/app/bower_components/flexslider/jquery.flexslider-min.js"></script>
		<!-- endbuild -->
	</body>
</html>
