<div class="container">
			<div class="col span_24">
				<footer>
					<div class="infoBox">
						<h1><img src="/img/space98_white.png"/></h1>
						<p>98 N 6th Street<br>Brooklyn, NY, 11249</p>
						<p><a href="https://www.google.com/maps/place/98+N+6th+St+Brooklyn+NY/@40.718639,-73.9605301,17z/data=!4m2!3m1!1s0x89c25967681fee53:0x67468fc66cca98a3" target="_blank">Directions</a></p>
						<p>718-599-0209</p>
						
						<span class="time">
							<p class="hourList">Hours of Operation</p>
							<p><a href="#time_market">Market Space</a></p>
							<p><a href="#time_gorbals">The Gorbals Bar</a></p>
							<p><a href="#time_gorbals_roof">Gorbals Rooftop</a></p>
							<p><a href="#time_gallery">Gallery 98</a></p>
							<p><a href="#time_uo">Urban Outfitters</p></p>
						</span>
					</div>

					<div id="time_market" class="graybox">
						<span>
							<h1><img src="/img/MarketSpace_white.png"/></h1>
							<p><b>Sunday</b> 11am - 9pm</p>
							<p><b>Monday</b> 10am - 10pm</p>
							<p><b>Tuesday</b> 10am - 10pm</p>
							<p><b>Wednesday</b> 10am - 10pm</p>
							<p><b>Thursday</b> 10am - 10pm</p>
							<p><b>Friday</b> 10am - 10pm</p>
							<p><b>Saturday</b> 10am - 10pm</p>
						</span>
					</div>

					<div id="time_gorbals" class="graybox">
						<span>
							<h1><img src="/img/TheGorbalsBar_white.png"/></h1>
							<p><b>Sunday</b> 11am - 12am</p>
							<p><b>Monday</b> 11am - 12am</p>
							<p><b>Tuesday</b> 11am - 12am</p>
							<p><b>Wednesday</b> 11am - 12am</p>
							<p><b>Thursday</b> 11am - 12am</p>
							<p><b>Friday</b> 11am - 12am</p>
							<p><b>Saturday</b> 11am - 12am</p>
						</span>
					</div>

					<div id="time_gorbals_roof" class="graybox">
						<span>
							<h1><img src="/img/Gorbals_white_sm.png"/></h1>
							<p><b>Sunday</b> 11am - 6pm</p>
							<p><b>Monday</b> 11am - 11pm</p>
							<p><b>Tuesday</b> 11am - 11pm</p>
							<p><b>Wednesday</b> 11am - 11pm</p>
							<p><b>Thursday</b> 11am - 11pm</p>
							<p><b>Friday</b> 11am - 11pm</p>
							<p>Saturday 11am - 11pm</p>
						</span>
					</div>

					<div id="time_gallery" class="graybox">
						<span>
							<h1><img src="/img/Gallery98_white_sm.png"/></h1>
							<p><b>Sunday</b> 11am - 9pm</p>
							<p><b>Monday</b> 10am - 10pm</p>
							<p><b>Tuesday</b> 10am - 10pm</p>
							<p><b>Wednesday</b> 10am - 10pm</p>
							<p><b>Thursday</b> 10am - 10pm</p>
							<p><b>Friday</b> 10am - 10pm</p>
							<p><b>Saturday</b> 10am - 10pm</p>
						</span>
					</div>									

					<div id="time_uo" class="graybox">
						<span>
							<h1><img src="/img/UrbanOutfitters_white.png"/></h1>
							<p><b>Sunday</b> 11am - 9pm</p>
							<p><b>Monday</b> 10am - 10pm</p>
							<p><b>Tuesday</b> 10am - 10pm</p>
							<p><b>Wednesday</b> 10am - 10pm</p>
							<p><b>Thursday</b> 10am - 10pm</p>
							<p><b>Friday</b> 10am - 10pm</p>
							<p><b>Saturday</b> 10am - 10pm</p>
						</span>
					</div>					
					<div>
						&copy; 2014 UrbanOutfitters.com All Rights Reserved | <a href="http://www.urbanoutfitters.com">UrbanOutfitters.com</a>
						<div class="social">
							<a href="https://www.facebook.com/spaceninety8" target="_blank"><img src="/img/facebook_white.png"/></a> <a href="https://twitter.com/spaceninety8" target="_blank"><img src="/img/Twitter_white.png"/></a> <a href="http://www.pinterest.com/spaceninety8/" target="_blank"><img src="/img/Pinterest_white.png"/></a> <a href="http://instagram.com/spaceninety8/" target="_blank"><img src="/img/Instragram_white.png"/></a>
						</div>
					</div>
				</footer>
			</div>
	</div>

<script src="/js/dest/common.min.js"></script>

</body>
</html>