<header>
	<label for="toggle">
		<div class="navicon"></div>
	</label>
	
	<h2 class="breadcrumb" ng-class="pageSlug|lowercase|hyphenate" ng-bind-html="pageSlug"></h2>

	<h1><a href="/"><img src="/img/space98_black.png"/></a></h1><img class="williamsburgLogo" src="/img/Williamsburg_black.png"/>

	<input type="checkbox" id="toggle" ng-model="headerOpen" />
	<nav>
		<a ng-click="headerOpen = false" href="/">Home</a>
		<a ng-click="headerOpen = false" href="/blog">Blog</a>
		<a ng-click="headerOpen = false" href="/gallery98">Gallery 98</a>
		<a ng-click="headerOpen = false" href="/market-space">The Market Space</a>
		<a ng-click="headerOpen = false" href="/gorbals">The Gorbals</a>

		<!--<a ng-click="headerOpen = false" href="/links">links</a>-->
	</nav>
</header>
