<div class="col span_9 gutters">
	<!--
<div ng-if="post.type == 'post'">
		<h2 ng-bind-html="globals.trustHtml(post.title)"></h2>
		<h6><span>{{post.date.timestamp | date: 'MMM. d h:mma'}}</span></h6>
		<p ng-bind-html="globals.trustHtml(post.customFields.shortExcerpt)"></p>
	</div>

	<div ng-if="post.type == 'marketspace_type' || post.type == 'gallery_type' || post.type == 'events_type'">
-->
	<h1 ng-if="post.singlePost" ng-bind-html="globals.trustHtml(post.title)"></h1>
	<h2 ng-if="!post.singlePost">
		<a ng-href="/posts/{{post.slug}}" ng-bind-html="globals.trustHtml(post.title)"></a>
	</h2>
	<h6 ng-show="!post.dateRange"><span>{{post.date.timestamp | date: 'MMM. d h:mma'}}</span></h6>
	<h6 ng-show="post.dateRange && !post.dateRange.permanent">{{post.dateRange.start | date: 'MMM. d'}} &mdash; {{post.dateRange.end | date: 'MMM. d'}}</h6>
	<h6 ng-show="post.dateRange.permanent">Permanent</h6>
	<hr ng-if="post.singlePost" />
	<h5 ng-if="post.singlePost">Share:
		<a href="mailto:?subject=Space 98 - {{post.title}}&body=Check out this post from Space Ninety 8. {{post.title}}%0A%0ARead more at Space Ninety 8: {{location}}">e</a>
		<a href="https://twitter.com/share?text=Space%20Ninety%208%20-%20{{post.title}}&url={{escapedLocation}}&via=spaceninety8&hashtags=spaceninety8" target="_blank">t</a>
	</h5>
	<p ng-bind-html="
		globals.trustHtml(
			post.singlePost
				? featuredPost
					? post.excerpt
					: post.customFields.supportCopy
						? globals.convertLineBreaks(post.customFields.supportCopy)
						: '<p>&nbsp;</p>'
				: post.customFields.shortExcerpt)"></p>
	<h6 ng-if="post.singlePost" class="post-tags">
		<span ng-repeat="tag in post.tags">{{tag.title}}{{$last ? '' : ', '}}</span>
	</h6>
	<!-- </div> -->

</div>
<div class="col span_1 gutters">&nbsp;</div>
<div ng-if="!post.singlePost || featuredPost" class="col span_14 gutters" >
	<img ng-src="{{post.featuredImages[0].full}}"/>
</div>
<div ng-if="post.singlePost && !featuredPost" class="col span_14 gutters post-content" ng-bind-html="globals.trustHtml(post.content)" remove-image-dimensions></div>
