<div class="center gutters row thumb-module-holder"
	ng-show="innerData"
	ng-class="{
		push_half : innerData.data.posts.length === 2,
		push_full : innerData.data.posts.length === 1,
	}">
	<div class="col span_8 gutters thumb-module {{innerData.displayOptions.listingClass}}" 
		ng-repeat="post in innerData.data.posts | limitTo: innerData.displayOptions.postLimit ? innerData.displayOptions.postLimit : 3" 
		ng-class="{nomargin : ($index %3 == 0)}">
		<a ng-href="/posts/{{post.slug}}">
			<div class="thumb-holder">
				<img ng-src="{{post.postThumbnails[0].full}}"/>
			</div>
			<h5 ng-bind-html="globals.trustHtml(post.title)"></h5>
			<h6 ng-show="post.dateRange && !post.dateRange.permanent">{{post.dateRange.start | date: 'MMM. d'}} &mdash; {{post.dateRange.end | date: 'MMM. d'}}</h6>
			<h6 ng-show="post.dateRange.permanent">Permanent</h6>
			
			<!-- -->
			<p ng-show="post.type == 'post'" ng-bind-html="globals.trustHtml(post.customFields.shortExcerpt)"></p>
			<span ng-show="post.type == 'post'" class="readMore">r</span>
			
		</a>
	</div>
	<div class="col span_24" ng-show="!innerData.data.posts">
		<h2>Sorry, there are currently no posts!</h2>
	</div>
</div>
