//Styles for blog post slideshow

.flexslider-container {
	position: relative;
	margin: 0px auto;
	width: 100%;
	//max-width: 1060px;
	max-width: 100%;
	max-height: 700px;
	color: white;
	background: #000;
	.cycle-image-container {
		width:100%; min-width: 100%; display: block; margin: 0 auto; max-height: 500px;
		&>img {width:auto; display: block; margin: 0 auto; }
	}
	//

/*
	.pager { 
	    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;
	}
	.pager span { 
	    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
	    display: inline-block; color: #ddd; cursor: pointer; 
	}
	.pager span.cycle-pager-active { color: #ffffff;}
	.pager > * { cursor: pointer;}
*/

	.slide-nav {
		font-family: 'icomoon';
		position: absolute;
		top: 50%;
		right: 50px;
		z-index: 500;
		color: white;
		width: 30px;

		a {color: white; opacity: .3; text-decoration: none; font-size: 30px;}

		a:hover, a:active {opacity: 1;}
	}
	
	.flex-direction-nav {*height: 0;
		font-family: 'icomoon';
		font-size: 30px;
		position: absolute;
		top: 40%;
		right: 50px;
		z-index: 500;
		color: blue;
		width: 30px;
		a {
			color: white; opacity: .3; text-decoration: none; font-size: 30px;
		}
		a:hover, a:active {opacity: 1;}

		.flex-next {background-position: 100% 0; right: -36px; }
		.flex-prev {left: -36px;}
		
		.flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
	}
	.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
	.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
	.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}

	.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
	.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
	.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.3); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(120,0,0,1);}
	.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.5); }
	.flex-control-paging li a.flex-active { background: white; cursor: default; }
	
	.flexslider { margin: 60px 0 0 !important; }

}

//Styles for blog post feed

.hphide {display: none;}
.hp_cookie .hphide{
	display:block;
}

.blogPostFeed {
	max-width: 1280px;
	text-align: left;
	clear: both;
	
	&:after {
		content: ""; display: block; width: 100%; clear: both; float: left; height: 1px;
	}

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 10px 0 0 0;
	}

	p {
		font-family: Garamond, serif;
		font-size: 16px;
		line-height: 20px;
	}

	img {width: 100%; margin: 0 0 20px 0;}
	
	.feedPost {
		&:hover h2 a, h2 a:hover { color: gray; text-decoration: none; }
	
		h5 {
			font-family: 'Helvetica Neue', Helvetica, sans-serif; 
			color: #acd9e7;
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: 3px;
			font-weight: 300;
			margin: 10px 0;
	
			a {font-family: 'icomoon'; text-decoration: none; text-transform: lowercase; color: #acd9e7; font-size: 20px;}
			a:hover {color: #46b2d5;}
		}
	}
}

.pagination {
	font-family: 'icomoon';
	font-size: 50px;
	width: 50px;
	color: #444444;

	a {text-decoration: none; font-size: 70px;}

	a:hover, a:active {opacity: 1;}
}




//styles for a blog post

.blogPost {
	max-width: 1060px;
	text-align: left;
	overflow: hidden;

	&:after {
		content: ""; display: block; width: 100%; clear: both; float: left; height: 1px; margin-bottom: 1em;
	}

	p {margin: 43px 0 0 0; line-height: 27px;}

	h2 {font-size: 16px;}

	h3 {
		font-size: 12px;
		line-height: 18px;
		margin: 0 30px 0 0;
		font-weight: 300;
	}

	h5 {
		font-family: 'Helvetica Neue', Helvetica, sans-serif; 
		color: #acd9e7;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 3px;
		font-weight: 300;
		margin: 10px 0;

		a {font-family: 'icomoon'; text-decoration: none; text-transform: lowercase; color: #acd9e7; font-size: 20px;}
		a:hover {color: #46b2d5;}
	}

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 10px 0;
		
		&.post-tags { margin-top: 2.5em; }
	}

	p {
		font-family: Garamond, serif;
		line-height: 27px;
		font-size: 20px;
		text-align: left;
	}

	img {
		//width: 100%;
		max-width: 100%;
		margin: 0;

	}
}

.brandPost {

	max-width: 1060px;
	text-align: left;

	h5 {
		font-family: 'Helvetica Neue', Helvetica, sans-serif; 
		color: #acd9e7;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 3px;
		font-weight: 300;
		margin: 10px 0 40px 0;
	}

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 10px;
	}

	p {
		font-family: Garamond, serif;
		line-height: 30px;
		font-size: 20px;
		text-align: left;
		margin: 30px 30px 30px 0;
	}

	img {
		max-width: 100%;
		margin: 0 0 20px 0;
		display: inline-block;

		&:first-child {
			margin: 150px 0 0 0;
		}
	}
}
