//styles for a blog post

.brandPost {
	max-width: 1060px;
	text-align: left;

	h5 {
		font-family: 'Helvetica Neue', Helvetica, sans-serif; 
		color: #acd9e7;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 3px;
		font-weight: 300;
		margin: 10px 0 40px 0;
	}

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 10px;
	}

	p {
		line-height: 26px;
	}

	img {
		width: 100%;
		margin: 0 0 20px 0;

		&:first-child {
			margin: 80px 0 0 0;
		}
	}

}