footer {
	background-image: url('../../img/newMap.jpg');
	background-size: cover;
	height: 420px;
	background-position: 50% 50%;
	color: #FFF;
	font-size: 11px;
	width: 100%;
	margin: 0;
	position:relative;

	a {
		color: #FFF;
		text-decoration: none;
	}

	div {
		color: #FFF;
		font-size: 11px;
		margin: 0;
		background-color: black;
		padding: 20px 30px;
		clear: both;
		letter-spacing: 1px;

	}

	.social {
		display: inline-block;
		margin: 0 .5%;
		float: right;
		font-family:'icomoon';
		text-decoration: none;
		text-transform: lowercase;
		font-size: 20px;
		font-weight: 100;
		padding: 0;

		a {color: #FFF; text-decoration: none;}
		a:hover {color: #FFF; text-decoration: none;}
	}

	.infoBox {
		display: inline-block;
		font-size: 11px;
		padding: 32px 40px;
		position: relative;
		float: left;
		background-color: black;
		color: #FFF;
		text-align: left;
		width: 250px;
		height: 350px;
		margin: 30px;

		h1 {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 20px;

			img {width: 100%; max-width: 205px;}
		}

		span { position: absolute; bottom: 42px;}

		p {font-size: 13px; line-height: 22px; margin: 0;

			a {text-decoration: underline;}
			a:hover {text-decoration: none;}
		}

		.hourList {font-weight: bold; padding: 0 0 10px 0;}
	}

	.graybox {
		display: block;
		opacity:0;
		font-size: 11px;
		padding: 10px 30px;
		position: absolute;
		background: rgba(0, 0, 0, 0.6);
		color: #FFF;
		text-align: left;
		width: 250px;
		height: 350px;
		margin: 30px 0 30px 0;
		z-index:0;
		left:280px;
		top:0;
		&.active{
			display:block;
			opacity:1;
			z-index:3
		}

		h1 {
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 15px;
		}

		span {position: absolute; top:100px; left: 40px;}

		p {
			font-size: 13px;
			line-height: 10px;

			a {text-decoration: underline;}
			a:hover {text-decoration: none;}
		}
	}
}
