body {
 font: 20px 'Helvetica Neue', Helvetica, sans-serif;
 margin: 0;
 
	&:hover {
		#page-rulers {
			display: none;
		}
	}
 
}

hr {
	height: 2px;
	border: 0;
	background-color: #acd9e7;
	color: #acd9e7;
	margin: 30px 30px 0 0;
}

#page-rulers { // only for testing!!!
	position: fixed;
	z-index: 10000000;
	height: 100%;
	width: 1072px; left: 50%; margin-left: -536px;
	border-left: #000 1px solid;
	border-right: #000 1px solid;
	-webkit-box-shadow: 0 0 1px 1px #FFF;
	display: block;

	&:before {
		content: "";
		position: fixed;
		z-index: 10000000;
		height: 100%;
		width: 2px;
		border-right: #FFF 1px solid;
		background: #000;
		top: 0; left: 50%; margin-left: -1px;
	}
	
	&:after {
		content: "";
		position: fixed;
		z-index: 10000000;
		height: 100%;
		width: 536px; left: 50%; margin-left: -268px;
		border-left: #000 1px solid;
		border-right: #000 1px solid;
		-webkit-box-shadow: 0 0 1px 1px #FFF;
	}
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left {
   float: left; 
}

.right {
   float: right; 
}

.center {
	margin: 0 auto;
	text-align: center;
}

// this is the new clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

.clear {clear:both;}

.hidden {visibility: hidden;}

// Universal Text Styling

a {text-decoration: none; color: black;}

a:hover {text-decoration: underline;}


h1, h2, h3, h4, h5, h6 {letter-spacing: 1.5px; margin: 0;}

h1 a {color: black; text-decoration: none;

	&:hover {font-style: italic;}
}

h3 {
	text-transform: uppercase;
}

h6 {
	img {vertical-align: middle;}
}

a h5:hover {
	color: #999;
}

blockquote {
	font-size: 32px;
	text-align: center;
	font-family: Garamond, serif !important;
}

.readMore {
	font-family: 'icomoon';
	font-size: 15px;
	cursor: pointer;
}

//Custom Styling for Text

a.button {
	border: 1px solid black;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 30px;
	outline: none;
	color: black;
	text-decoration: none;
	
	&:hover, &.active {
		background-color: black;
		color: white;
		cursor: pointer;}

	&:active {
		background-color: black;
		color: white;
		cursor: pointer;}
}

.button {
	border: 1px solid white;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 30px;
	outline: none;
	color: white;
	text-decoration: none;
	min-width: 160px;
	display: inline-block;
	margin: 0 auto;
}

.locationInfo {
	font-size: 12px;
}

.gray {
	background-color: #f7f7f7;
	width: 100%;
}

.wp-caption-text {
	font-family:'Helvetica Neue', Helvetica, sans-serif !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 10px !important;
	color: #5f5e5e;
	letter-spacing: 2px;
	margin: 0 50px 20px !important;
}


//UNIVERSAL STYLING FOR POST-THUMBNAIL MODULES
.thumb-module {
	padding: 0 .85em 0 .8em;
	
	&.left-align { text-align: left; }
	
	h5 { margin-bottom: .5em; }
	a { text-decoration: none; }
	p { padding: 0; }
	
	.thumb-holder {
		overflow: hidden; position: relative; width: 100%; min-width: 250px;
		img {
			display: inline-block; width: 250px; margin: 0 auto;
		}
	}
}

// INNER NAVIGATION
.inner-nav {
	.button {
		margin: 0 5%;
	}
}

.imageRows, .link-rows {
	max-width: 960px!important; margin: 0 auto; display: block; float: none!important; 
	-webkit-column-count: 3;
	-webkit-column-gap:   10px;  
	-moz-column-count:    3;
	-moz-column-gap:      10px;
	column-count:         3;
	column-gap:           10px;
	a { display: block; }
	img { width: 100%; }
	img, p { height: auto; display: block; margin: 0 auto 10px; max-width: 100%; }
	p { font-size: .5em; font-family: helvetics, sans-serif; color: #9c9c9c; }
}

.link-rows {
	text-align: left;
	
	p { margin: 0; }
}

@media ( max-width : 768px ) {
	.thumb-module {
		&.left-align { width: 250px; margin: 0 auto; float: none; margin-bottom: 30px; padding: 0;}
	}
	
	.row.inner-nav, .inner-nav {
		padding: 1em 0 0;
		
		.button { margin: 0 2% 1em;}
	}
}
@media ( max-width : 960px ) {
	.imageRows, .link-rows {
		-webkit-column-count: 2;
		-webkit-column-gap:   2%;  
		-moz-column-count:    2;
		-moz-column-gap:      2%;
		column-count:         2;
		column-gap:           2%;
	}
}
@media ( max-width : 600px ) {
	.imageRows, .link-rows {
		-webkit-column-count: 1;
		-webkit-column-gap:   0;  
		-moz-column-count:    1;
		-moz-column-gap:      0;
		column-count:         1;
		column-gap:           0;
		text-align : center!important;
	}
}


@media ( min-width : 768px ) {
	.thumb-module-holder {
		width: 100%;
		&.push_half .thumb-module:first-child { margin-left: 17.166666667%; }
		&.push_full .thumb-module:first-child { margin-left: 34.3333333333%; }
	
		&:after { clear: both; content: ""; height: 1px;}
	}
}

.blogPostFeed a {
	&:hover{
		h2{
			text-decoration: none;
			color: #999;
		}
	}
}
