.gorbals {
	max-width: 1070px;
	text-align: left;
	.intro  {
		max-width: 100%;
		font-size: 30px;
		text-align: left;
		margin: 0 40px;
		img { height: auto; display: block; margin: 0 auto 10px; max-width: 100%; }
	}

	.gorbalsText {
		position: absolute;
		top: 50%;
		bottom: 0;
		right: 0;
		left: 0;
		width: 400px;
		margin: auto;
		color: white;
		text-align: center;

		h3 {
			width: 200px;
			margin: 0 auto;
		}

		p {
			font-family: Arial, Helvetica;
			text-align: center;
			letter-spacing: 1.3px;
			font-size: 20px;
		}
	}

	blockquote  {

		font-size: 30px;
		text-align: left;
		letter-spacing: 2px;
		line-height: 40px;
		font-family: Helvetica, sans-serif;
		margin: 0 0 0 40px;
	}

	p {
		font-family: Garamond, sans-serif;
		line-height: 30px;
		letter-spacing: 1.3px;
		font-size: 20px;
		//margin: 30px;
	}

	img {width: auto; max-width: 100%;}
	
	.imageRows img {
		width: 100%!important;
	}

	h5 {text-align: center;}

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 0;
	}

	.smallText {
		font-family: Arial, Helvetica;
		font-size: 16px;
		text-align: left;
		margin: 10px 100px;
		letter-spacing: 1px;
		line-height: 20px;
	}


	.hero {
		
		text-align: center;

		img {
			width: 100%;
			max-width: 960px;

			&:first-child {
				margin: 150px 0 0 0;
			}
		}

	}
	
	.sidebar {
		img { height: auto; display: block; margin: 0 auto 10px; max-width: 100%; }
	}

	.gorbals-photos-shortcopy {
		max-width: 500px; margin: 0 auto 2em;
	}

}

