header {

	h1 {
		text-transform: uppercase;
		font-size: 24px;
    font-weight: bold;
    text-indent: 60px;
    display: inline-block;
    padding: 10px;
	}	

	p {
		color: #AAA;
		font-size: 10px;
		text-transform: uppercase;
		position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    top: 15px; 
    text-align: center;
	}

  .williamsburgLogo {
    float: right;
    margin: 17px 60px;
    width: auto;
  }
}



/*Navigation Tool*/
/*----------------------------------------*/
/*Creates the Navigation Button*/
label {
  /*position: absolute;*/
  position: absolute;
  top: -3px;
  left: -10px;
  /*size of the navigation icon*/
  padding: 25px 25px;
  cursor: pointer;
  display: inline;

  .navicon {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #000;
    &:before, &:after {
      position: absolute;
      display: block;
      width: 30px;
      height: 5px;
      background-color: #000;
      content: "";
    }
    &:before {
      top: -10px;
    }
    &:after {
      top: 10px;
    }
  }
}

/*creates the navigation toggle effect */
nav {
  /*move up the navigation bar*/
  background-color: black;
  width:100%;
  margin-top: 0;
  overflow: hidden;
  max-height: 0;
  /*when navicon is clicked,toggle the navi bar*/
  transition: max-height .5s ease;
  /*creates blocks for each navigation element*/
  a {
    display: block;
    margin: 10px 60px;
    padding: 10px;
    color: #FFF;
    font-size:30px;
    border-bottom: 1px solid #2b2b2b;
    /*don't display underline for links*/
    text-decoration: none;
    overflow: hidden;

    &:hover{
      /*background-color:#171717;*/
      color: #a7a5a6;
      text-decoration: none;
    }
  }
}
/*creates the toggle navigation function*/
/*
label:hover ~ nav {
  max-height: 300px;
}
*/
/*use label to check for input */
input[type=checkbox]:checked ~ nav{
  max-height: 1000px;
  padding: .75em 0 1.4em;
}
/*when toggle the navigation bar, hide the slides*/
input[type=checkbox]:checked ~ #slider{
  opacity:0;
}
/*then hide the checkbox auto generated by the input tag*/
input{ 
  position:absolute;
  left:-100px;
}

.breadcrumb{
	left: 52%;
	margin-left: -100px;
	position: absolute;
	text-indent: -9999px;
	top: 20px;
	width: 200px;
	
	&.blog, &.post{
		background: url(/img/Blog_page.png) center top no-repeat transparent;
	}
	
	&.gallery-98, &.gallery_type{
		background: url(/img/Gallery98_page.png) center top no-repeat transparent;
	}
	
	&.market-space, &.marketspace_type{
		background: url(/img/MarketSpace_page.png) center top no-repeat transparent;
	}
	
	&.the-gorbals{
		background: url(/img/Gorbals_page.png) center top no-repeat transparent;
	}
}

@media only screen and (max-width: 768px) {
	.breadcrumb{
		display: none;
	}
}