//Styles for splash page

.already-visited{
	.splashWrapper{
		display: none;
	}
	
	.hphide{
		display: block;
	}
}

.splashWrapper {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
}

.wrapperContent {
	position: relative;
	margin: 0% auto;
	height: 100%;
	text-align: center;
	color: white;
	max-width: 600px;
	cursor: pointer;

	.wrapperText {
		position: absolute;
		bottom: 120px;
		left: 0;
		right: 0;

		h1 {
		font-family: 'icomoon';
		font-size: 500px;
		font-weight: normal;
		margin: 0;
		}

		h2 {
		font: 20px 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 15px;
		letter-spacing: 2px;
		line-height: 22px;
		}
	}
}



//Styles for homepage Modules

.marketModule {
	max-width: 860px;
	text-align: left;
	padding: 0 0 60px 0;

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 0 0 10px 0;
	}

	p {
		font-family: Garamond, serif;
		font-size: 14px;
		line-height: 20px;
		margin: 0 auto;
	}

	a.button {
		border: 1px solid black;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 30px;
		outline: none;
		color: black;
		text-decoration: none;
	
		&:hover {
			background-color: black;
			color: white;
			cursor: pointer;}
	}

}

.gorbalsModule {
	background-image: url('http://placekitten.com/1280/450');
	background-size: cover;
	height: 450px;
	background-position: 50% 50%;

	.text {margin: 50px 0;}

	h3 {color: white;}
	
	h6 {
	color: white;
	margin: 0 auto;
	width: 300px;
	padding: 10px 0 30px 0;
 	}
	
	a.button {
	background-color: none;
	border: 1px solid white;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 30px;
	outline: none;
	color: white;
	text-decoration: none;
	
	&:hover {
		background-color: white;
		color: black;
		cursor: pointer;}
	}
}

.galleryModule {
	max-width: 1072px;

	.text {margin: 50px 0;}

	h3 {
		img {margin: 0 0 20px 0;}
	}

	h5 {margin: 0 50px;}

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 5px 0 10px 0;
	}

	p {
		font-family: Garamond, serif !important;
		font-size: 14px;
		line-height: 20px;
		margin: 30px 20px;
	}

	a.button {
		border: 1px solid black;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 30px;
		outline: none;
		color: black;
		text-decoration: none;
	
		&:hover {
			background-color: black;
			color: white;
			cursor: pointer;}
	}
}

.blogModule {
	max-width: 850px;

	h6 {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-size: 10px;
		color: #5f5e5e;
		letter-spacing: 2px;
		margin: 0 0 10px 0;
	}

	p {
		font-family: Garamond, serif !important;
		font-size: 14px;
		line-height: 20px;
		margin: 0 auto;
	}

	a.button {
		border: 1px solid black;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 30px;
		outline: none;
		color: black;
		text-decoration: none;
	
		&:hover {
			background-color: black;
			color: white;
			cursor: pointer;}
	}

}