@font-face {
	font-family: 'icomoon';
	src:url('/css/src/fonts/icomoon.eot?g1p47a');
	src:url('/css/src/fonts/icomoon.eot?#iefixg1p47a') format('embedded-opentype'),
		url('/css/src/fonts/icomoon.woff?g1p47a') format('woff'),
		url('/css/src/fonts/icomoon.ttf?g1p47a') format('truetype'),
		url('/css/src/fonts/icomoon.svg?g1p47a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Williamsburg:before {
	content: "\77";
}
.icon-Gallery98:before {
	content: "\67";
}
.icon-Vimeo:before {
	content: "\76";
}
.icon-Twitter:before {
	content: "\74";
}
.icon-SpaceNinety8:before {
	content: "\6c";
}
.icon-ReadMore:before {
	content: "\72";
}
.icon-Prev_page:before {
	content: "\3c";
}
.icon-Pinterest:before {
	content: "\70";
}
.icon-Nextv_page:before {
	content: "\3e";
}
.icon-Nav:before {
	content: "\6e";
}
.icon-Instragram:before {
	content: "\69";
}
.icon-Facebook:before {
	content: "\66";
}
.icon-end:before {
	content: "\2e";
}
.icon-EmailArrow:before {
	content: "\45";
}
.icon-Email:before {
	content: "\65";
}
.icon-Arrow_right:before {
	content: "\52";
}
.icon-Arrow_left:before {
	content: "\4c";
}
