@media ( max-width : 768px ) {

	header {
		.williamsburgLogo {
			float: right;
			width: 25%;
			margin: 22px 10px 0 0;
			display: none;
		}
	}

	.wrapperContent {
		max-width: 90%;

		.wrapperText h1 {
			img {width: 90%;}
		}

	}

	.marketModule h3 img {
		max-width: 100%;
	}

	h1 {
		font-size: 1.2em;
	}

	body {
		padding: 0 10px;
	}

	nav a {
		font-size: 1.2em;
		margin: 10px 10px;
	}

	.post-content {
		& > img, & > a img {
			margin: 0 0 0 0 !important;
			// important all the things - <3 jack
		}
	}

	footer {
		background-image: none;

		.infoBox {
			margin: 30px 0 260px 0;
			width: 100%;

		}

		.graybox {
			width: 100%;
			left: 0;
			top: 350px;
			height: 260px;

			span {
				top: 40px;
			}
		}
	}
}