<!doctype html>
{% autoescape None %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="space98"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title ng-bind="title">Space Ninety 8 - {{settings['title']}}{% block pageTitle %}{% end %}</title>
		<meta name="description" content="
			{% if settings['description'] %}
				{{settings['description']}}
			{% else %}
				Space Ninety 8 - {% block pageDescription %}{% end %}
			{% end %}
		">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" href="/img/favicon.ico">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="/css/dest/base.css">
		<link rel="stylesheet" type="text/css" href="/app/bower_components/flexslider/flexslider.css">
		<!-- endbuild -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
		<script src="/app/bower_components/angular/angular.js"></script>

		<!-- INCLUDE HELPERS BEFORE ANYTHING ELSE -->
		<script src="/app/scripts/helpers/helperFunctions.js"></script>
		<script type="text/javascript">
			if ((document.URL.indexOf("urbanout") < 0 || document.URL.indexOf(".local:") < 0) && document.URL.indexOf("spaceninety8.com") > -1) {
				var S98_MAIN_ENDPOINT = "www.spaceninety8.com/api/v0/blog";
			} else {
				var IS_DEV_SITE = true;
			}

			var APP_ROUTES = {% try %} {{routeList}} {% except %}false{% end %}
			var APP_ENDPOINTS = {% try %} {{endpoints}} {% except %}false{% end %}

		</script>
		<base href="/" />
	</head>
	<body ng-class="{devoptions : showDevOptions}">

		<!-- <div id="page-rulers" ng-show="showDevOptions"></div> -->
		{% include '../angular/includes/header.html' %}

		<!-- Add your site or application content here -->
		<div class="container" ng-view>

			<div class="col span_24 row">
				<div class="col span_2 gutters">&nbsp;</div>
				<div class="col span_20 gutters">
					{% block mainContent %}
						<h2>Main content goes here</h2>
					{% end %}
				</div>
				<div class="col span_2 gutters">&nbsp;</div>
			</div>
		</div>

		{% include '../angular/includes/footer.html' %}

		<script src="/js/dest/common.min.js"></script>
		<script src="/js/dest/vendorScripts.js"></script>
		<script src="/js/dest/appScripts.js"></script>

		<!-- endbuild -->
	</body>
</html>
