<li class="col span_8 gutters">
    <h3><a href="/posts/{{post['slug']}}">{{post['title']}}</a></h3>
    <div class="content">
        {% if 'postThumbnails' in post['customFields'] and len(post['customFields']['postThumbnails']) > 0 and len(post['customFields']['postThumbnails'][0]) > 0 and len(post['attachments']) > 0 %}
            {% for img in post['attachments'] %}
                {% if int(img['id']) == int(post['customFields']['postThumbnails'][0]) %}
                    <img width="300px" src="{{img['url']}}" />
                {% end %}
            {% end %}
        {% end %}
    </div>
    <hr />
</li>
