<h1>things to do</h1>
<ul>

	<li><input type="checkbox"><label>Gather excerpts</label></li>
	<li><input type="checkbox"><label>Paginate</label></li>
	<li><input type="checkbox"><label>Gather thumbnail object</label></li>
	<li><input type="checkbox"><label>Expand tags for links page</label></li>
	<li><input type="checkbox"><label>Pass Tornado App to Bryan</label></li>

</ul>