<flex-slider
	slide="img in topPost.customFields.imageGallery"
	animation="slide"
	ng-if="topPost.customFields.displayTemplate == 0 && topPost.customFields.imageGallery"
	prev-text="L"
	next-text="R">
	<li>
		<div class="cycle-image-container">{{playText}}
			<img ng-src="{{img.image}}" />
		</div>
	</li>
	<div class="pager"></div>
	<div class="flex-direction-nav" ng-show="topPost.customFields.imageGallery.length > 1">
		<a href=# id="prev">L</a>
		<a href=# id="next">R</a>
	</div>
</flex-slider>
<div class="gorbals center">
	<!--
<div class="center row col span_24 inner-nav">
		<a class="button" ng-class="{ active : pageParams.innerController == 'gorbals.index' }" href="/gorbals">About Gorbals</a>
		<a class="button" ng-class="{ active : pageParams.innerController == 'gorbals.menu' }" href="/gorbals/menu">See the Menu</a>
		<a class="button" ng-class="{ active : pageParams.innerController == 'gorbals.photos' }" href="/gorbals/photos">Photo Gallery</a>
	</div>
-->
	<div class="container">
		<div class="row" ng-if="pageParams.innerController !== 'gorbals.index'">
			<p class="center gorbals-photos-shortcopy" ng-bind-html="globals.convertLineBreaks(topPost.customFields.supportCopy)" remove-image-dimensions></p>
			<div class="col span_24 gutters center"
				ng-bind-html="globals.trustHtml(topPost.content)"
				ng-class="{
					imageRows : pageParams.innerController == 'gorbals.photos'
				}"
				remove-image-dimensions></div>
		</div>
		<div class="row" ng-if="pageParams.innerController == 'gorbals.index'">
			<div class="col span_10 gutters center sidebar" ng-bind-html="globals.convertLineBreaks(topPost.customFields.supportCopy)" remove-image-dimensions></div>
			<div class="col span_14 gutters">
				<p class="intro" ng-bind-html="globals.trustHtml(topPost.customFields.mediumExcerpt)"></p>
				<div class="col span_14 gutters" ng-bind-html="globals.trustHtml(topPost.content)"></div>
			</div>
		</div>
	</div>
</div>
