<div class="gorbals center">
	
	<div class="hero">

		<img ng-src="{{topPost.featuredImages[0].full}}"/>
		
	</div>

	<div class="center row col span_24">
		<a class="button" href="/gorbals">About Gorbals</a>
		<a class="button active" href="/gorbals/menu">See the Menu</a>
		<a class="button" href="/gorbals/photos">Photo Gallery</a>
	</div>

	
	<div class="container">

		<div class="row">
			<div class="col span_24 gutters center" ng-bind-html="globals.trustHtml(topPost.content)" remove-image-dimensions="topPost"></div>
		</div>

	</div>

</div>

