<flex-slider 
	slide="img in topPost.customFields.imageGallery" 
	animation="slide" 
	ng-if="topPost.customFields.displayTemplate == 0 && topPost.customFields.imageGallery"
	prev-text="L"
	next-text="R">
	<li>
		<div class="cycle-image-container">{{playText}}
			<img ng-src="{{img.image}}" />
		</div>
	</li>
	<div class="pager"></div>
	<div class="flex-direction-nav" ng-show="topPost.customFields.imageGallery.length > 1">
		<a href=# id="prev">L</a> 
		<a href=# id="next">R</a>
	</div>
</flex-slider>
<div class="gorbals center">
	
	

	<div class="center row col span_24 inner-nav">
		<a class="button" href="/gorbals">About Gorbals</a>
		<a class="button" href="/gorbals/menu">See the Menu</a>
		<a class="button active" href="/gorbals/photos">Photo Gallery</a>
	</div>

	
	<div class="container">

		<div class="row">
			
			<div class="col span_24 gutters center imageRows" ng-bind-html="globals.trustHtml(topPost.content)" remove-image-dimensions></div>

		</div>

	</div>

</div>
