<!--
<div class="gorbalsModule center row" style="background-image: url({{pageData.splash.data.post.featuredImages[0].full}})">
	<div class="row center col span_24 text">
		<h3><img src="/img/SpaceNinety8_white_LG.png"/></h3>
		<h6 ng-bind-html="globals.trustHtml(pageData.splash.data.post.content)"></h6>
	</div>
</div>
-->


	<div class="splashWrapper" ng-style="pageData.splash.data.post.featuredImages[0].full != '' && {'background-image':'url('+pageData.splash.data.post.featuredImages[0].full+')'}">
		<div class="wrapperContent">
			<div class="wrapperText">
				<h1><img ng-src="/img/logo_splash.png"/></h1>
				<h2 ng-bind-html="globals.trustHtml(pageData.splash.data.post.content)"></h2>
				<img class="center" src="/img/Arrow.png"/>
			</div>
		</div>
	</div>


	<div class="hphide">
		<div class="marketModule center row">
			<div class="row center col span_24">
				<h6>Currently in</h6>
				<h3><img src="/img/TheMarketSpace.png"/></h3>
			</div>
			<div ng-include="'/templates/angular/includes/tripleListing.html'" ng-repeat="innerData in [pageData.market]"></div>
			<div class="center row col span_24">
				<a class="button" href="/market-space">Read More</a>
			</div>
		</div>
	</div>


	<div class="gorbalsModule center row" style="background-image: url({{pageData.gorbals.data.post.featuredImages[0].full}})" ng-style="pageData.gorbals.data.post.featuredImages[0].full != '' && {'background-image':'url('+pageData.gorbals.data.post.featuredImages[0].full+')'}">
		<div class="row center col span_24 text">
			<h3><img src="/img/TheGorbals.png"/></h3>
			<h6 ng-bind-html="globals.trustHtml(pageData.gorbals.data.post.customFields.shortExcerpt)"></h6>
			<a href="/gorbals" class="button">Read More</a>
		</div>
	</div>

	<div class="galleryModule center row" ng-repeat="post in pageData.gallery.data.posts">
		<div class="col span_7 gutters thumb-module">
			<div class="thumb-holder">
				<img ng-src="{{post.attachments[0].url}}"/>
			</div>
		</div>
		<div class="col span_10 gutters text">
			<h6>Currently in</h6>
			<h3> <img src="/img/Gallery98.png"/></h3>
			<h5 ng-bind-html="globals.trustHtml(post.title)"></h2>
			<h6 ng-show="!post.dateRange.permanent">{{post.dateRange.start | date: 'MMM. d'}} &mdash; {{post.dateRange.end | date: 'MMM. d'}}</h6>
			<p ng-bind-html="globals.trustHtml(post.customFields.mediumExcerpt)"></p>
			<a class="button" href="/gallery98">View Gallery</a>
		</div>
		<div class="col span_7 gutters thumb-module">
			<div class="thumb-holder">
				<img ng-src="{{post.attachments[1].url}}"/>
			</div>
		</div>
	</div>

	<div class="gray">
		<div class="marketModule center row">
			<div class="row center col span_24">
				<h6>Featured</h6>
				<h3><img src="/img/Blog.png"/></h3>
			</div>
			<div ng-include="'/templates/angular/includes/tripleListing.html'" ng-repeat="innerData in [pageData.blog]"></div>
			<div class="center row">
				<a class="button" href="/blog">See All Blog Posts</a>
			</div>
		</div>

	</div>
