{% extends '../main.html' %}
{% autoescape None %}

{% block mainContent %}
	<div class="content-div">
		<h2>Featured In Gallery 98</h2>
		<ul class="center gutters row">
			{% for post in dynData['featured']['posts'] %}
				{{post['excerpt']}}
				<h1>{{post['title']}}</h1>
				<p><a href="/posts/{{post['slug']}}">Read More</a></p>
				{% if 'supportCopy' in post['customFields'] %}
					<div>{{post['customFields']['supportCopy']}}</div>
				{% end %}
				<div>{{post['content']}}</div>
			{% end %}
		</ul>
	</div>

	<div class="content-div">
		<h2>Currently In  Gallery 98!</h2>
		<ul class="center gutters row">
			{% for post in dynData['current']['posts'] %}
				{% include '../snippets/smallBucket.html' %}
			{% end %}
		</ul>
	</div>

	<div class="content-div">
		<h2>Upcoming In  Gallery 98</h2>
		<ul class="center gutters row">
			{% for post in dynData['upcoming']['posts'] %}
				{% include '../snippets/smallBucket.html' %}
			{% end %}
		</ul>
	</div>
{% end %}
