{% extends '../main.html' %}
{% autoescape None %}

{% block mainContent %}
	<div class="content-div">
		<h1>Space Ninety 8</h1>
		<div><p>{{dynData['splash']['post']['content']}}</p></div>
		<hr />
	</div>
	<div class="content-div">
		<h2>Currently In Market Space</h2>
		<p><a href="/market-space">Read More</a></p>
		<ul class="center gutters row">
			{% for post in dynData['marketSpace']['posts'] %}
				{% include '../snippets/smallBucket.html' %}
			{% end %}
		</ul>
	</div>
	<div class="content-div">
		<h1>The Gorbals</h1>
		<p><a href="/gorbals">Read More</a></p>
		<div><p>{{dynData['gorbals']['post']['content']}}</p></div>
		<hr />
	</div>
	<div class="content-div">
		<h2>Currently In Gallery98</h2>
		<p><a href="/gallery98">View Gallery</a></p>
		<ul class="center gutters row">
			{% for post in dynData['gallery']['posts'] %}
				{% include '../snippets/smallBucket.html' %}
			{% end %}
		</ul>
	</div>
	<div class="content-div">
		<h2>Featured Blog</h2>
		<p><a href="/blog">Read More</a></p>
		<ul class="center gutters row">
			{% for post in dynData['blog']['posts'] %}
				{% include '../snippets/smallBucket.html' %}
			{% end %}
		</ul>
	</div>
{% end %}
