{% extends '../main.html' %}
{% autoescape None %}


{% block mainContent %}
	{% if dynData['posts']['posts'] %}
		{% for post in dynData['posts']['posts'] %}
			<ul>
				<li>
					<h3><a href="/posts/{{post['slug']}}">{{post['title']}}</a></h3>
					<div class="content">
						{% if 'featuredImages' in post['customFields'] and len(post['customFields']['featuredImages']) > 0 and len(post['customFields']['featuredImages'][0]) > 0 and len(post['attachments']) > 0 %}
							{% for img in post['attachments'] %}
								{% if int(img['id']) == int(post['customFields']['featuredImages'][0]) %}
									<img width="300px" src="{{img['url']}}" />
								{% end %}
							{% end %}
						{% end %}
					</div>
					<div class="content">
						{% if 'supportCopy' in post['customFields'] %}
							{{post['customFields']['supportCopy']}}
						{% end %}
					</div>

					<hr />
				</li>
			</ul>
		{% end %}
	{% end %}

{% end %}
