{% extends '../main.html' %}
{% autoescape None %}

{% block pageTitle %}
	- {{dynData['post']['post']['title']}}
{% end %}

{% block pageDescription %}

	{{dynData['post']['post']['title']}} - {{dynData['post']['post']['excerpt']}}

{% end %}

{% block mainContent %}
	{{dynData['post']['post']['excerpt']}}
	<h1>{{dynData['post']['post']['title']}}</h1>
		{% if 'customFields' in dynData['post']['post'] %}



		{% if 'supportCopy' in dynData['post']['post']['customFields'] %}
			<div>{{dynData['post']['post']['customFields']['supportCopy']}}</div>
		{% end %}


		<div>{{dynData['post']['post']['content']}}</div>
	{% end %}
{% end %}
