<div class="container">
	<div class="blogPost center row gutters"ng-repeat="post in pageData.featured.data.posts | limitTo: 1">
		<a ng-href="/posts/{{post.slug}}" ng-include="'/templates/angular/includes/singleListing.html'" ng-init="params = pageParams; post.singlePost = true; featuredPost = true"></a>
	</div>
	
	<!--<div class="gray">
		<div class="marketModule center row">
			<div class="row center col span_24">
				<h6>Upcoming in</h6>
				<h3>Gallery 98</h3>
			</div>
		
			<div class="center gutters">
				<div class="col span_8 gutters thumb-module" ng-repeat="post in pageData.upcoming.data.posts | limitTo: 3">
					<a ng-href="/posts/{{post.slug}}">
						<div class="thumb-holder">
							<img ng-src="{{post.featuredImages[0].medium}}"/>
						</div>
						<h5 ng-bind-html="globals.trustHtml(post.title)"></h5>
						<h6>{{post.customFields.startDate[0].timestamp*1000 | date: 'MMM. d'}} &mdash; {{post.customFields.endDate[0].timestamp*1000 | date: 'MMM. d'}}</h6>
					</a>
				</div>
				<div class="col span_24" ng-show="!pageData.upcoming.data.posts">
					<h2>Sorry, there are currently no posts!</h2>
				</div>
			</div>
		</div>
		<div class="center row col span_24">
			<a class="button" href="/gallery98/showings">View All Showings</a>
		</div>
	</div>-->
	
	
	
</div>