<div class="gorbals center">
		<div class="container">

			<div class="row">
				
				<div class="col span_24 gutters center link-rows">
					<div class="single-link" ng-repeat="link in topPost.customFields.linkDir">
						<h3>{{link.linkTitle}}</h3>
						<p><a ng-href="{{link.linkUrl}}" target="_blank">{{link.linkUrl}}</a></p>
					</div>
				</div>
	
			</div>
	
		</div>
	</div>