<div class="container">

	<div class="blogPost center row gutters"ng-repeat="post in pageData.featured.data.posts | limitTo: 1">
		<a ng-href="/posts/{{post.slug}}" ng-include="'/templates/angular/includes/singleListing.html'" ng-init="params = pageParams; post.singlePost = true; featuredPost = true"></a>
	</div>

	<div class="gray">
		<div class="marketModule center row">
			<div class="row center col span_24">
				<h6>Currently in</h6>
				<h3><img src="/img/TheMarketSpace.png"/></h3>
			</div>
			<div ng-include="'/templates/angular/includes/tripleListing.html'" ng-repeat="innerData in [pageData.current]" ng-init="params = pageParams"></div>
		</div>
	</div>

	<div class="marketModule center row" ng-if="pageData.upcoming.posts.length > 0">
		<div class="row center col span_24">
			<h6>upcoming in</h6>
			<h3><img src="/img/TheMarketSpace.png"/></h3>
		</div>

		<div ng-include="'/templates/angular/includes/tripleListing.html'" ng-repeat="innerData in [pageData.upcoming]"></div>
	</div>

	<!--
<div class="center row col span_24">
		<a class="button" href="/market-space/vendors">View All Vendors</a>
	</div>
-->
</div>
