<div class="container blogPostFeed">
	<div class="col span_24 row">
		<div class="col span_2 gutters">
			&nbsp;
			<a class="pagination" ng-show="pageData.posts.pagObject.prev" ng-href="/{{pageData.posts.pagObject.prev}}">P</a>
		</div>
		<div class="col span_20 gutters">	
			<a ng-href="/posts/{{post.slug}}"
				class="feedPost row"
				ng-repeat="post in pageData.posts.data.posts"
				ng-show="post.canShow"
				ng-include="'/templates/angular/includes/singleListing.html'"
				ng-init="params = pageParams">
			</a>
		</div>
		<div class="col span_2 gutters">
			&nbsp;
			<a class="pagination" ng-show="pageData.posts.pagObject.next" ng-href="/{{pageData.posts.pagObject.next}}">N</a>
		</div>
	</div>
</div>