<flex-slider
	slide="img in topPost.customFields.imageGallery"
	animation="slide"
	ng-if="topPost.customFields.displayTemplate == 0 && topPost.customFields.imageGallery"
	prev-text="L"
	next-text="R">
	<li>
		<div class="cycle-image-container">{{playText}}
			<img ng-src="{{img.image}}" />
		</div>
	</li>
	<div class="pager"></div>
	<div class="flex-direction-nav" ng-show="topPost.customFields.imageGallery.length > 1">
		<a href=# id="prev">L</a>
		<a href=# id="next">R</a>
	</div>
</flex-slider>
<div class="container">

	<div ng-repeat="post in [topPost]"
		class="blogPost center row gutters"
		ng-show="post.canShow"
		ng-include="'/templates/angular/includes/singleListing.html'"
		ng-init="params = pageParams"
		ng-if="topPost">
	</div>

	<div class="blogPost center row gutters" ng-if="!topPost">
		<h1 align="center">The Post you're looking for cannot be fount</h1>
	</div>

	<div class="gray">
		<div class="blogModule center row">
			<div class="row center col span_24">
				<h3>Related Stories</h3>
			</div>
			<div class="col span_8 gutters thumb-module left-align" ng-repeat="post in pageData.related.data.posts | limitTo: 3">
				<a ng-href="/posts/{{post.slug}}">
					<div class="thumb-holder">
						<img ng-src="{{post.postThumbnails[0].medium}}"/>
					</div>
					<h5 ng-bind-html="globals.trustHtml(post.title)"></h5>
					<p ng-if="post.customFields.shortExcerpt" ng-bind-html="globals.trustHtml(post.customFields.shortExcerpt)"></p>
					<span class="readMore">r</span>
				</a>
			</div>
		</div>
	</div>

</div>
